<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"></meta>
    <title>login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div>login form ejs</div>
    <form method="POST" id="login_form" action="/login">
        <input type="email" name="email" id="email"></input>
        <input type="password" name="password" id="password"></input>
        <!--<input type="button" id="submit" value="submit">-->
        <div><input type="submit" name="login"></div>
    </form>
  </body>
  <script>
    $('#submit').on('click',function(){
        // TODO 入力チェック
        console.log("move");
        $("#login_form").submit();
    });
    </script>
</html>