body{
  background-image: url("../images/back_img.jpg");
  background-size: cover;
}

#label {
  /*background-color: #053d00af;*/
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 160px;
  min-width: 563px;
  display: block;
  margin: 0;
  z-index: 1;
}

.main-logo {
  position: relative;
}

.label-box {
  margin: 0 auto;
  position: relative;
  max-width: 1110px;
}

.label-logo {
  background-image: url("../images/toubee_logo.png");
  width: 288px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  margin: 0 auto;
}

.label-login {
  background-image: url("../images/login.png");
  width: 90px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  margin: 0 auto;
}

.label-home {
  background-image: url("../images/home.png");
  width: 90px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  margin: 0 auto;
}

.label-map {
  background-image: url("../images/access.png");
  width: 90px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  margin: 0 auto;
}

.label-plan {
  background-image: url("../images/price.png");
  width: 90px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  margin: 0 auto;
}

.label-ul {
  display: flex;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: space-between;
}
.label-ul li {
  width: auto;
  height: 60px;

}

.text-label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.label-ul a {
}

a:link {
  text-decoration: none;
}

.text-area {
  position: relative;
  top: 70px;
}

.address {
  background-color: #ffffff;
  position: absolute;
}

#column_name {
  background-color: #fffd7f;
}
#column_data {
  background-color: #faf9c9;
}
table {
  background-color: #94934a;
  margin: 40px auto 0px auto;
}

#time {
  width: 678px;
  margin: 0 auto;
  font-size: 1.5em;
}

#explanation {
  width: 678px;
  margin: 0 auto;
  font-size: 1.4em;
}

strong {
  color: #94934a;
}